services:
  app:
    build: .
    ports:
      - "8000:8000"

    develop:
      watch:
        - action : sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: pyproject.toml
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: